<div class="card rounded shadow-lg d-flex justify-content-center align-items-center mb-3">
    <h3 class="mb-3">PRIMEIRA COBRANÇA</h3>
    <div class="content">
        <pre class="texto" #textoEmailEl>
            {{ textoEmail1 }}
        </pre>
    </div>
    <div class="content_botao_copiar gap-2">
        <button class="botao_copiar" (click)="rolarParaBaixo()">VER DEMAIS COBRANÇAS</button>
        <button 
            class="botao_copiar" 
            #t="ngbTooltip" 
            ngbTooltip="Copiado!" 
            triggers="manual"
            (click)="copiarTexto(textoEmailEl.innerText, t)">
            COPIAR MODELO
        </button>
    </div>
</div>
<div class="card text-dark rounded shadow-lg d-flex justify-content-center align-items-center">
    <h3 class="mb-3">PROXIMAS COBRANÇAS</h3>
    <div class="content">
        <pre class="texto" #textoEmailEl2>
            {{ textoEmail2 }}
        </pre>
    </div>
    <div class="content_botao_copiar gap-2">
        <button class="botao_copiar" (click)="rolarParaCima()">VER PRIMEIRA COBRANÇA</button>
        <button 
            class="botao_copiar" 
            #t2="ngbTooltip" 
            ngbTooltip="Copiado!" 
            triggers="manual"
            (click)="copiarTexto(textoEmailEl2.innerText, t2)">
            COPIAR MODELO
        </button>
    </div>
</div>