<div class="d-flex justify-content-center align-items-center p-5 gap-3" style="height: 100vh; width: 100%;">
  <nav ngbNav #nav="ngbNav" class="card p-5 shadow sidebar-scroll" [(activeId)]="activeId">
    <div class="fw-bolder mb-3 fs-4">MÓDULO 1</div>

    <!-- VIDEO -->
    <ng-container ngbNavItem="1">
      <div class="d-block">
        <button ngbNavLink class="botao-sidebar" data-step="1" [ngClass]="{ 'ativo': activeId === '1' }">
          <div>
            <div class="titulo">Introdução</div>
            <div class="descricao">Assista o video...</div>
          </div>
          <i *ngIf="passosConcluidos.includes(1)" class="fa-solid fa-circle-check check-icon"></i>
        </button>
      </div>
      <ng-template ngbNavContent>
        <app-video 
          rotaVideo="../../../../assets/videos/atendimento-ao-cliente/introducao.mp4"
          (videoFinalizado)="marcarComoConcluido(1)"
          id="video1"
        ></app-video>
        <app-botao-proximo-item [visivel]="mostrarBotaoProximo" (avancar)="irParaProximoPasso()"></app-botao-proximo-item>
      </ng-template>
    </ng-container>

    <!-- VIDEO -->
    <ng-container ngbNavItem="2">
      <div class="d-block">
        <button ngbNavLink class="botao-sidebar" data-step="2" [ngClass]="{ 'ativo': activeId === '2' }">
          <div >
            <div class="titulo">Criando Relacionamento</div>
            <div class="descricao">Assista o video...</div>
          </div>
          <i *ngIf="passosConcluidos.includes(2)" class="fa-solid fa-circle-check check-icon"></i>
        </button>
      </div>
      <ng-template ngbNavContent>
        <app-video 
          rotaVideo="../../../../assets/videos/atendimento-ao-cliente/criando-relacionamento.mp4"
          (videoFinalizado)="marcarComoConcluido(2)"
          id="video2"
        ></app-video>
        <app-botao-proximo-item [visivel]="mostrarBotaoProximo" (avancar)="irParaProximoPasso()"></app-botao-proximo-item>
      </ng-template>
    </ng-container>

    <!-- VIDEO E QUESTIONÁRIO -->
    <ng-container ngbNavItem="3">
      <button ngbNavLink class="botao-sidebar" data-step="3" [ngClass]="{ 'ativo': activeId === '3' }">
        <div>
          <div class="titulo">Perguntas e Respostas</div>
          <div class="descricao">Responda o Questionário.</div>
        </div>
        <i *ngIf="passosConcluidos.includes(3)" class="fa-solid fa-circle-check check-icon"></i>
      </button>
      <ng-template ngbNavContent>
        <div class="container-scroll" #scrollContainer>
          <app-video rotaVideo="../../../../assets/videos/atendimento-ao-cliente/questionario1.mp4" [mostrarBotao]="true" id="video3">
          </app-video>
          <app-questionario
            pergunta="Oi, gente! Já chegou a hora de mandar aqueles documentos temidos de novo? 😅"
            acao="Como você responderia? Escolha a melhor opção abaixo:"
            [alternativas]="[
                'Boa tarde. Favor enviar os documentos fiscais até o dia 5. Att.',
                'Hahaha, chegou sim! Mas relaxa que a gente nem liga se atrasar um pouquinho 😜.',
                'Isso mesmo! 😄 Já estamos no período de envio. Se puder nos encaminhar os documentos até o dia 5, agradecemos muito! Qualquer dúvida, é só chamar.',
                'Prezada cliente, conforme cronograma, solicitamos o envio dos documentos obrigatórios. Contamos com sua colaboração.'
              ]"
            correta="Isso mesmo! 😄 Já estamos no período de envio. Se puder nos encaminhar os documentos até o dia 5, agradecemos muito! Qualquer dúvida, é só chamar."
            [justificativas]="{
                'Boa tarde. Favor enviar os documentos fiscais até o dia 5. Att.':
                  '❌ Resposta correta em conteúdo, mas fria e impessoal para o perfil da cliente.',
                'Hahaha, chegou sim! Mas relaxa que a gente nem liga se atrasar um pouquinho 😜.':
                  '❌ Muito informal e transmite permissividade que pode comprometer prazos e processos.',
                'Isso mesmo! 😄 Já estamos no período de envio. Se puder nos encaminhar os documentos até o dia 5, agradecemos muito! Qualquer dúvida, é só chamar.' :
                  '✅ Resposta ideal: amigável, respeita o tom leve da cliente e mantém o profissionalismo e clareza na orientação.',
                'Prezada cliente, conforme cronograma, solicitamos o envio dos documentos obrigatórios. Contamos com sua colaboração.':
                  '❌ Correta tecnicamente, mas excessivamente formal e distante do estilo da cliente.',
              }"
              id="questionario1"
              (respostaCorreta)="marcarComoConcluido(3)">
          </app-questionario>
        </div>
        <app-botao-proximo-item [visivel]="mostrarBotaoProximo" (avancar)="irParaProximoPasso()"></app-botao-proximo-item>
      </ng-template>
    </ng-container>

    <!-- VIDEO E QUESTIONÁRIO -->
    <ng-container ngbNavItem="4">
      <button ngbNavLink class="botao-sidebar" data-step="4" [ngClass]="{ 'ativo': activeId === '4' }">
        <div>
          <div class="titulo">Perguntas e Respostas</div>
          <div class="descricao">Responda o Questionário.</div>
        </div>
        <i *ngIf="passosConcluidos.includes(4)" class="fa-solid fa-circle-check check-icon"></i>
      </button>
      <ng-template ngbNavContent>
        <div class="container-scroll" #scrollContainer>
          <app-video rotaVideo="../../../../assets/videos/atendimento-ao-cliente/questionario2.mp4" [mostrarBotao]="true">
          </app-video>
          <app-questionario
            pergunta="De novo esse negócio de documentos? Toda hora é a mesma coisa. Dá pra ser mais eficiente aí? Já estou sem paciência."
            acao="Considerando o perfil do cliente e o padrão de atendimento da Gerencer Contabilidade, qual é a melhor forma de responder?"
            [alternativas]="[
                'Estamos fazendo o que dá, senhor. Se não estiver satisfeito, pode procurar outra contabilidade.',
                'Boa tarde. Entendemos sua insatisfação. Os documentos são exigidos mensalmente e seguem abaixo os que precisamos para este período. Permanecemos à disposição.',
                'Calma, por favor. A gente está fazendo o possível. Só precisamos que envie como sempre.',
                'Sim, é o mesmo de sempre. Todo mês precisa. Não tem como mudar isso agora.'
              ]"
            correta="Boa tarde. Entendemos sua insatisfação. Os documentos são exigidos mensalmente e seguem abaixo os que precisamos para este período. Permanecemos à disposição."
            [justificativas]="{
                'Estamos fazendo o que dá, senhor. Se não estiver satisfeito, pode procurar outra contabilidade.':
                  '❌ Resposta reativa e defensiva. Escala o conflito, rompe a postura profissional e pode causar prejuízos para a relação com o cliente...',
                'Boa tarde. Entendemos sua insatisfação. Os documentos são exigidos mensalmente e seguem abaixo os que precisamos para este período. Permanecemos à disposição.':
                  '✅ Resposta ideal: demonstra empatia sem perder a firmeza e o foco no processo. Profissional, direta e clara, sem absorver o tom grosseiro.',
                'Calma, por favor. A gente está fazendo o possível. Só precisamos que envie como sempre.':
                  '❌ Apesar da tentativa de amenizar, transmite fragilidade e informalidade. Pode ser mal interpretada e gerar mais insatisfação.',
                'Sim, é o mesmo de sempre. Todo mês precisa. Não tem como mudar isso agora.':
                  '❌ Seca e direta demais, adota um tom semelhante ao do cliente. Pode soar rude e desinteressada.',
              }"
              id="questionario2"
              (respostaCorreta)="marcarComoConcluido(4)">
          </app-questionario>
        </div>
      </ng-template>
    </ng-container>
  </nav>
  <div [ngbNavOutlet]="nav" class="flex-grow-1" style="width: 80vw;"></div>
</div>
<app-botao-voltar rota="/home"></app-botao-voltar>