.card {
    height: 350px;
    width: 350px;

    .card-img-top {
        height: 160px;
        width: 100%;
        object-fit: cover;
        border: 3px solid #0D2D54;
        display: block;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}

.btn-outline-info {
    transition: .5s;
} 

.card-title {
    font-weight: 500;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.card-subtitle {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}   

.card-text {
    font-size: 14px;
}

.scroll-text {
    max-height: 90px;
    overflow-y: auto;
    padding-right: 4px;
}

.scroll-title {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
    margin-bottom: 0;
}

.scroll-body {
    font-size: 14px;
}

.flex-grow-1 {
    flex-grow: 1;
}

