.alternativa-hover {
  transition: background-color 0.2s ease-in-out;
}

.alternativa-hover:hover {
  background-color: #e9f2ff; /* azul bem claro */
}

.resposta {
  height: 30px;
}
.contexto {
  h3 {
    max-width: 90%;
  }
  h4 {
    max-width: 70%;
  }
}