.card {
  height: 80vh;
}

.alternativa-hover {
  transition: background-color 0.2s ease-in-out;
}

.alternativa-hover:hover {
  background-color: #e9f2ff; /* azul bem claro */
}

.resposta {
  height: 30px;
  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.contexto {
  h3 {
    max-width: 90%;
  }
  h4 {
    max-width: 80%;
  }
}

@media (max-width: 1560px ) {
 .resposta p {
  font-size: 14px;
 } 

 .pergunta {
  font-size: 16px;
 }
}