<div class="container rounded p-4 shadow-lg">
    <div class="row mb-3">
        <app-card-curso class="col-4"
            [titulo]="'A DEFINIR'"
            [subtitulo]="'A DEFINIR'"
            [imagemCurso]="'../../../assets/imagens/atendimento-ao-cliente.jpg'"
            [direcionamentoCurso]="'/cursos/atendimento-ao-cliente'"
            [desabilitado]="false"  
        >
        </app-card-curso>
        <app-card-curso class="col-4"
            [titulo]="'EM BREVE'"
            [subtitulo]="'NOVOS CURSOS GERENCER'"
            [imagemCurso]="'../../../assets/imagens/atendimento-ao-cliente.jpg'"
            [direcionamentoCurso]="'/cursos/modelo'"
            [desabilitado]="false"
        ></app-card-curso>  
    </div>
</div>