<div class="d-flex justify-content-center align-items-center p-5 gap-3" style="height: 100vh; width: 100%;">
  <nav ngbNav #nav="ngbNav" class="card p-5 shadow sidebar-scroll" >
    <div class="fw-bolder mb-3 fs-4">MÓDULO 1</div>

    <!-- VIDEO -->
    <ng-container ngbNavItem>
      <div class="d-block">
        <button ngbNavLink class="botao-sidebar" data-step="" (click)="marcarComoConcluido(1)">
          <div>
            <div class="titulo">Conteúdo</div>
            <div class="descricao">Descrição</div>
          </div>
          <i *ngIf="passosConcluidos.includes(1)" class="fa-solid fa-circle-check check-icon"></i>
        </button>
      </div>
      <ng-template ngbNavContent>
        <app-video rotaVideo="..." [mostrarBotao]="false"></app-video>
      </ng-template>
    </ng-container>

    <!-- VIDEO E QUESTIONÁRIO -->
    <ng-container ngbNavItem>
      <button ngbNavLink class="botao-sidebar" data-step="1" (click)="marcarComoConcluido(1)">
        <div>
          <div class="titulo">Conteúdo </div>
          <div class="descricao">Responda o Questionário.</div>
        </div>
        <i *ngIf="passosConcluidos.includes(1)" class="fa-solid fa-circle-check check-icon"></i>
      </button>
      <ng-template ngbNavContent>
        <div class="container-scroll" #scrollContainer>
          <app-video rotaVideo="..." [mostrarBotao]="true">
          </app-video>
          <app-questionario
            pergunta="LOREM LOREM?"
            acao="LOREM LOREM LOREM LOREM"
            [alternativas]="[
                'Alternativa 1',
                'Alternativa 2',
                'Alternativa 3',
                'Alternativa 4',
              ]"
            correta="Alternativa 2"
            [justificativas]="{
                'Alternativa 1' : 'Justificativa1',
                'Alternativa 2' : 'Justificativa2',
                'Alternativa 3' : 'Justificativa3',
                'Alternativa 4' : 'Justificativa4',
              }"
              id="questionario">
          </app-questionario>
        </div>
      </ng-template>
    </ng-container>

  </nav>
  <div [ngbNavOutlet]="nav" class="flex-grow-1"></div>
</div>
<app-botao-voltar rota="/home"></app-botao-voltar>