:host {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* não deixa scroll no host */
}

:host::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../../../../assets/background-web.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  z-index: -1;
}

.botao-sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 1rem 1rem 2.5rem;
  border: 2px solid #0B1E3D;
  border-radius: 12px;
  background-color: #fff !important;
  text-align: left;
  width: 100%;
  margin-bottom: 1rem;
  color: #000 !important;
  font-weight: bold;
  transition: background-color 0.2s ease;
  white-space: normal;
  word-break: break-word;

  &:hover {
    background-color: #0b1e3d5d !important;
  }

  &::before {
    content: attr(data-step);
    position: absolute;
    left: -1.2rem;
    top: 1.5rem;
    background-color: #fff;
    border: 2px solid #0B1E3D;
    color: #0B1E3D;
    font-weight: bold;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    left: 20px;
    top: 0.5rem;
    bottom: 0.5rem;
    width: 2px;
    border-left: 2px dashed #0B1E3D;
    z-index: 0;
  }

  .check-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #22c55e;
  }

  .titulo {
    font-weight: bold;
    color: #000;
    max-width: 95%;
    white-space: nowrap;
  }

  .descricao {
    font-weight: normal;
    color: #555;
  }
}

.container-scroll {

  height: 80vh;
  /* ajustável conforme necessário */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: transparent !important;
}

.container-scroll::-webkit-scrollbar {
  width: 10px;
}

.container-scroll::-webkit-scrollbar-thumb {
  border-radius: 6px;
}

.container-scroll::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.container-scroll {
  scroll-behavior: smooth;
}

.sidebar-scroll {
  height: 80vh;
  width: 500px;
  display: flex !important;
  flex-wrap: nowrap;
  overflow-y: scroll;
  max-width: 500px;
}

.sidebar-scroll::-webkit-scrollbar {
  width: 10px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #0D2D54;
  border: 2px solid white;
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #0d2d54a6;
  cursor: pointer;
}

.sticky-top {
  background: linear-gradient(to bottom, white 0%, white 60%, transparent 100%);
  padding: 20px 30px;
}

.titulo-modulo {
  padding: 20px 30px;
}

.sticky-bottom {
  background: linear-gradient(to top, white 0%, white 30%, transparent 100%);
  padding: 40px;
}

.titulo-meio {
  padding-left: 30px;
}

.ativo {
  background-color: #0b1e3d5d !important;
  border-left: 5px solid #0D2D54;
}

.card-button {
  padding-left: 40px;
  padding-right: 20px;
}

.sticky-top,
.titulo-meio {
  transition: all 0.3s ease-in-out;
}

.sidebar-scroll.oculto {
  display: none !important;
}