<div class="d-flex flex-column m-5 gap-1 w-100">
  <div class="mb-3 d-flex align-items-center gap-2 barra-pesquisa px-4 py-3 rounded shadow-lg">
    <input type="text"
            class="form-control"
            placeholder="PESQUISAR CURSO PELO TÍTULO..."
             [(ngModel)]="pesquisa"
             (ngModelChange)="pesquisaMudou()" />
  
    <button type="button"
              class="btn btn-outline-secondary ms-2"
              (click)="limparPesquisa()"
              [disabled]="!pesquisa">
          LIMPAR
    </button>
  </div>

  <div class="d-flex gap-4">
    <app-menu-filtro
      [categoriaSelecionada]="categoriaSelecionada"
      (filtroMudou)="onFiltroMudou($event)">
    </app-menu-filtro>
  
    <div class="d-flex flex-column w-100">
      <div class="menu-cursos rounded  shadow-lg p-4">
        <div class="cursos">
          <div *ngIf="cursosFiltrados.length > 0; else semCursos" class="row mb-3 align-items-stretch">
            <app-card-curso
              *ngFor="let curso of cursosFiltrados"
              class="col-3"
              [titulo]="curso.titulo"
              [categoria]="curso.categoria"
              [subtitulo]="curso.subtitulo"
              [imagemCurso]="curso.imagemCurso"
              [direcionamentoCurso]="curso.direcionamentoCurso"
              [desabilitado]="curso.desabilitado">
            </app-card-curso>
          </div>
          <ng-template #semCursos>
            <div class="text-center text-white py-5">
              <h5>Nenhum curso encontrado.</h5>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
