:host {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden; /* não deixa scroll no host */
}

:host::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../../../assets/background-web.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  z-index: -1;
}

.menu-cursos {
  background-color: #0b1e3d70;
  height: 75vh;
  width: 80vw;
  padding: 10px;

    .cursos {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden; 
          &::-webkit-scrollbar {
          width: 12px;
        }
        &::-webkit-scrollbar-track {
          background: transparent; 
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgba(255, 255, 255, 0.3); 
          border-radius: 10px;
          border: 3px solid transparent;
          background-clip: content-box;
        }
    }
}

.barra-pesquisa {
  height: 80px;
  z-index: 10;
  background-color: #0b1e3d70;

    input {
      background-color: transparent;
      color: #fff;
      text-transform: uppercase;

      &::placeholder {
        color: #f9f9f9;
      }
    }
}


.btn-outline-secondary {
  background-color: white;
  border: 1px solid #0D2D54;
  color: #0d2d54;
  font-weight: bolder;
  transition: .5s ;

  &:disabled {
    background-color: lightgray;
    color: gray;
    border: 1px solid gray;
    cursor: default;
  }
  
  &:hover {
    background-color: #0d2d54;
    color: white;
    cursor: pointer;
    border: 1px solid #f9f9f9;
  }
}
