<div class="d-flex flex-column m-5 gap-1 w-100">
  <div class="mb-3 d-flex align-items-center gap-2 barra-pesquisa px-4 py-3 rounded shadow-lg">
    <input type="text"
            class="form-control"
            placeholder="PESQUISAR CURSO PELO TÍTULO..."
             [(ngModel)]="pesquisa"
             (ngModelChange)="pesquisaMudou()" />
  
    <button type="button"
              class="btn btn-outline-secondary ms-2"
              (click)="limparPesquisa()"
              [disabled]="!pesquisa">
          LIMPAR
    </button>
  </div>

  <div class="d-flex gap-4">
    <app-menu-filtro
      [categoriaSelecionada]="categoriaSelecionada"
      (filtroMudou)="onFiltroMudou($event)">
    </app-menu-filtro>
  
    <div class="d-flex flex-column w-100">
      <div class="blur sticky-top"></div>
      <div class="menu-cursos px-3 shadow-lg">
        <div class="cursos">
          <div *ngIf="cursosFiltrados.length > 0; else semCursos" class="row">
            <app-card-curso
            *ngFor="let curso of cursosFiltrados"
            class="col-6 col-xl-4 col-xxl-3 mb-4"
            [titulo]="curso.titulo"
            [categoria]="curso.categoria"
            [subtitulo]="curso.subtitulo"
            [imagemCurso]="curso.imagemCurso"
            [direcionamentoCurso]="curso.direcionamentoCurso"
            [desabilitado]="curso.desabilitado">
          </app-card-curso>
        </div>
        <ng-template #semCursos>
          <div class="text-center text-white py-5">
            <h5>Nenhum curso encontrado.</h5>
          </div>
        </ng-template>
      </div>
      </div>
    <div class="blur sticky-bottom"></div>
    </div>
  </div>
</div>
