<div class="container-principal d-flex justify-content-center align-items-center flex-column">
  <img src="../../../assets/kami-logo-2.png" width="35%">
  <h2 class="titulo-entrada">Bem-vindo!</h2>

  <form 
    (ngSubmit)="entrar()" 
    #form="ngForm"
    class="d-flex justify-content-center align-items-center flex-column mt-5 gap-3"
  >
    <input
      type="text"
      placeholder="DIGITE SEU NOME"
      [(ngModel)]="nome" 
      name="nome"
      #nomeInput="ngModel"
      required
      class="form-control shadow-lg text-center"
      autocomplete="off"  
    />

    <div *ngIf="nomeInput.invalid && nomeInput.touched" class="text-danger">
      O campo nome é obrigatório.
    </div>

    <button type="submit" [disabled]="form.invalid">Entrar</button>
  </form>
</div>
