:host {
    height: 100%;
}
.creditos {
    color: rgba(211, 211, 211, 0.199);
    font-size: 15px;
    display: flex;
    position: absolute;
    bottom: -10px;
    right: 10px;
    z-index: 10000;
}
::ng-deep {
    
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--gray-100);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--royal-blue);
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--royal-blue-dark);
  }
}