<div class="content">
    <div class="container_botao_voltar">
       <button routerLink="/home">
            VOLTAR
       </button>
    </div>
    <div class="curso">
        <div class="menu_lateral_curso">
            <div ngbAccordion #accordion="ngbAccordion">
                <!-- CURSO 1 -->
                <div ngbAccordionItem class="p-3"  [collapsed]="false">
                    <div ngbAccordionHeader>
                        <button ngbAccordionToggle class="botao_abrir_curso">Contábil</button>
                    </div>
                    <div ngbAccordionCollapse >
                        <div ngbAccordionBody class="lista_itens_menu">
                            <nav ngbNav #nav="ngbNav" [(activeId)]="menuAtivo">
                                <h5>Modulo 1</h5>
                                <ng-container ngbNavItem="-1"><ng-template ngbNavContent></ng-template></ng-container>
                                <ng-container ngbNavItem="1" class="w-100">
                                    <button ngbNavLink class="botao_menu_lateral" data-step="1.1">
                                        <div class="titulo_botao_menu_lateral">Modelo Video 1</div>
                                        <div class="descricao_botao_menu_lateral">
                                            Testando modelo video 1
                                        </div>
                                    </button>
                                    <ng-template ngbNavContent>
                                        <app-modelo-email ></app-modelo-email>
                                    </ng-template>
                                </ng-container>
                            </nav>
                        </div>
                    </div>
                </div>

                <!-- CURSO 2 -->
                <div ngbAccordionItem class="p-3" [collapsed]="false">
                    <div ngbAccordionHeader>
                        <button ngbAccordionToggle class="botao_abrir_curso">Fiscal</button>
                    </div>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody class="lista_itens_menu">
                            <nav ngbNav #nav2="ngbNav" [(activeId)]="menuAtivo">
                                <h5>Modulo 1</h5>
                                <ng-container ngbNavItem="-1"><ng-template ngbNavContent></ng-template></ng-container>

                                <ng-container ngbNavItem="2" class="w-100">
                                    <button ngbNavLink class="botao_menu_lateral" data-step="1.2">
                                        <div class="titulo_botao_menu_lateral">Modelo Video 2</div>
                                        <div class="descricao_botao_menu_lateral">
                                            Testando modelo video 2
                                        </div>
                                    </button>
                                    <ng-template ngbNavContent>
                                    </ng-template>
                                </ng-container>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="botoes_expandir">
                <button (click)="accordion.expandAll()">EXPANDIR</button>
                <button (click)="accordion.collapseAll()">FECHAR</button>
            </div>

        </div>
        <div class="conteudo_curso">
            <div [ngbNavOutlet]="nav"></div>
            <div [ngbNavOutlet]="nav2"></div>
        </div>
    </div>
</div> 

