$info: #0D2D54;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1200px,
  xl: 1500px,
  xxl: 1800px
);

@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap/scss/bootstrap';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.custom-carousel:fullscreen,
.custom-carousel:-webkit-full-screen, /* Safari */
.custom-carousel:-moz-full-screen,    /* Firefox */
.custom-carousel:-ms-fullscreen {      /* IE/Edge */
  width: 100vw !important;
  height: 100vh !important;
  max-width: 100vw !important;
  max-height: 100vh !important;
}

.custom-carousel:fullscreen .media-wrapper,
.custom-carousel:-webkit-full-screen .media-wrapper,
.custom-carousel:-moz-full-screen .media-wrapper,
.custom-carousel:-ms-fullscreen .media-wrapper {
  width: 100%;
  height: 100%;
}

.custom-carousel:fullscreen video,
.custom-carousel:-webkit-full-screen video,
.custom-carousel:-moz-full-screen video,
.custom-carousel:-ms-fullscreen video,
.custom-carousel:fullscreen img,
.custom-carousel:-webkit-full-screen img,
.custom-carousel:-moz-full-screen img,
.custom-carousel:-ms-fullscreen img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* ou cover, dependendo do efeito que quiser */
}

:root {
  --royal-blue: #0d2d54;
  --royal-blue-light: #2e4d7a;
  --royal-blue-dark: #081a39;
  --royal-blue-dark-blur: rgba(13, 45, 84, 0.6);
  --sand: #f5deb3;
  --sand-light: #faf0e6;
  --sand-dark: #deb887;
  --sand-dark-two: #be8233;
  --info: #2c3e50;

  --blue: #0081b4;
  --danger: #dc3545;
  --warning: #ffc107;
  --success: #28a745;

  /* Cores Complementares */
  --white: #ffffff;
  --black: #000000;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  /* Gradientes */
  --gradient-primary: linear-gradient(135deg, var(--royal-blue) 0%, var(--royal-blue-light) 100%);
  --gradient-secondary: linear-gradient(135deg, var(--sand) 0%, var(--sand-light) 100%);
  --gradient-hero: linear-gradient(135deg, var(--royal-blue-dark) 0%, var(--royal-blue) 50%, var(--sand-dark) 100%);
  --gradient-blur: linear-gradient(135deg, rgba(250, 240, 230, 0.6) 0% ,rgba(46, 77, 122, 0.2) 50%, rgba(13, 45, 84, 0.1) 100%);

  /* Tipografia */
  --font-primary: 'Inter', sans-serif;
  --font-display: 'Space Grotesk', sans-serif;
  --font-logo: 'Nunito';

  /* Sombras */
  --shadow-sm: 0 1px 2px 1 rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-royal: 0 20px 40px rgba(30, 58, 138, 0.3);
  --shadow-sand: 0 20px 40px rgba(245, 222, 179, 0.3);

  /* Transições */
  --transition-fast: 0.2s ease;
  --transition-normal: 0.3s ease;
  --transition-slow: 0.5s ease;
}