$info: #0D2D54;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1200px,
  xl: 1500px,
  xxl: 1800px
);

@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
