<div class="card slide-card"
     [class.menu-oculto]="menuOculto">
  <button class="botao-ocultar-menu" (click)="fecharMenu()">
    <i *ngIf="!menuOculto" class="fa-solid fa-maximize"></i>
    <i *ngIf="menuOculto" class="fa-solid fa-minimize"></i>
  </button>

  <ngb-carousel
    #carousel
    [interval]="0"
    [pauseOnHover]="true"
    [showNavigationArrows]="true"
    [animation]="!fullscreenAtivo"
    class="custom-carousel"
    (slide)="onSlideChange($event)">
    
    <ng-template ngbSlide *ngFor="let item of items">
      <div class="media-wrapper"
           [class.fullscreen]="fullscreenAtivo"
           (dblclick)="toggleFullscreen()">

        <button *ngIf="fullscreenAtivo"
                class="botao-fechar-fullscreen"
                (click)="toggleFullscreen()">
          <i class="fa-solid fa-circle-xmark"></i>
        </button>

        <img *ngIf="item.type === 'image'" [src]="item.src" alt="Slide image" />
        <video *ngIf="item.type === 'video'" [src]="item.src" controls></video>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
