.custom-carousel,
.custom-carousel .carousel-inner,
.custom-carousel .carousel-item,
.media-wrapper {
  height: 70vh; 
  width: 65vw;

    
  &:hover {
    cursor: pointer;
  }
}

.menu-oculto .custom-carousel,
.menu-oculto .custom-carousel .carousel-inner,
.menu-oculto .custom-carousel .carousel-item,
.menu-oculto .media-wrapper {
  height: 75vh; /* novo valor */
  width: 75vw;  /* novo valor */
}

.custom-carousel {
  display: flex;
  align-items: center;
}

.media-wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  transform-origin: center center;
}

.media-wrapper img,
.media-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card {
    height: 80vh;
}

::ng-deep ngb-carousel .carousel-indicators {
  top: 0;
  bottom: auto;        
  margin-top: 10px;   
  background-color: #0d2d5498;
  border-radius: 20px;
}

::ng-deep  .carousel-control-prev,  
::ng-deep ngb-carousel .carousel-control-next{
  height: 40px;
  width: 40px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50px;
  background-color: #0d2d5498;
}

.botão_ocultar_menu {
  height: 35px;
  width: 35px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2000;
  background-color: #0b1e3d62;
  border: 1px solid transparent;
  border-radius: 50px;
  color: #0b1e3d;
  transition: .5s;

  &:hover {
    background-color: #fff;
    border: 1px dashed #0b1e3d62;
  }

}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh !important;
  width: 100vw !important;
  z-index: 9999;
  background-color: #000;
  padding: 0;
  margin: 0;


  transform: scale(1.03);
  opacity: 1;

}

.fullscreen video,
.fullscreen img {
  object-fit: contain !important;
}

.botao-fechar-fullscreen {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 24px;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
