.duvidas {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .titulo-intro {
        color: var(--royal-blue);
        font-weight: 700;
        display: flex;
        gap: 10px;
        align-items: center;
        font-size: 36px;
    }    

    .custom-accordion {
        width: 60vw;
        background: var(--gradient-blur);
        padding: 20px;
        border-radius: 10px;
        border: 2px dashed var(--royal-blue);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
