<div class="duvidas">
    <div class="titulo-intro">
        <i class="fa-solid fa-question-circle"></i>
        <span>Perguntas Frequentes</span>
    </div>

    <div class="custom-accordion">
        <ngb-accordion *ngFor="let item of perguntas;">
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <div class="accordion-header-custom">
                        {{ item.pergunta }}
                    </div>
                </ng-template>
                <ng-template ngbPanelContent>
                    <p>{{ item.resposta }}</p>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>